.detail {
  margin: 2%;
  h1 {
    margin: 2% 0;
  }
  .card {
    align-items: center;
    background-color: yellowgreen;
    border-radius: 2rem;
    padding: 20px;
    margin: 2%;
    p {
      margin: 2% 0;
    }
  }
}
