.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px 1%;
  margin: 0 2%;
  .quron {
    background-color: rgb(122, 226, 43);
    border-radius: 8px;
    color: #fff;
    font-size: 1.2rem;
  }
  .quron:hover {
    background-color: brown;
  }
}
